<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chatbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE46D5F71FD5E60A006EE07C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE46D60B1FD5E60B006EE07C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE46D6161FD5E60B006EE07C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
